/* Global Styles */

/* Colours used for website */
:root {
  --dark-green: #16423C;
  --almost-dark-green: #244c47;
  --medium-green: #6A9C89;
  --almost-light-green: #9fc9ba;
  --light-green: #C4DAD2;
  --anti-flash-white: #E9EFEC;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--dark-green);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--anti-flash-white);
}

/* Page Wrappers */
.header {
  display: flex;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  padding-bottom: 3rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  height: 3rem;
  background-color: #16423C;
  color: var(--anti-flash-white);
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Main Contents */
.main {
  display: flex;
  width: 100vw;
  /* min-height: 90vh; */
  padding: 2vw;
  flex-direction: column;
}


/* Sidebar + Main Content Layout */
.main-with-sidebar {
  display: flex;
  /* margin-left: 15vw; */
  width: 85vw;
  /* min-height: 90vh;  */
  height: stretch;
  flex: 10;
  flex-direction: column;
  padding: 2vw;
  transition: width 0.3s ease-in-out;
}


/* navbars*/
nav.navbar {
  position: sticky;
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #16423C;
  color: #E9EFEC;
  top: 0;
  z-index: 1000;
}

.side-nav {
  flex: 1;
  width: 110px;
  display: flex;
  flex-direction: column;
  background-color: var(--medium-green);
  color: var(--anti-flash-white);
  transition: transform 300ms ease in;
  text-align: left;
  transition: 0.15s;
  padding: 1rem 0rem;
  /* padding: 1rem; */
  gap: 1rem;
}

.side-nav .toggle-btn {
  color: var(--almost-dark-green);
  position: relative;
  top: 0;
  padding: 0rem 5px
}
.side-nav .toggle-btn:hover {
  color:var(--dark-green)
}

.side-nav a {
  padding: 0rem 15px;
  /* display:table-column; */
  position: center;
  list-style: none;
  /* Remove bullet points */
}


.side-nav.collapsed {
  transform: translateX(-90px);
}

.main-with-sidebar.collapsed {
  transform: translateX(-90px);
  width: 100vw;
}



  .icon {
    width: 24px;
    height: 24px;
    vertical-align: center; /* Aligns the icon with text */
    margin-right: 8px; /* Adds some spacing between the icon and the text */
  }
  
a:before{
  color: var(--dark-green);
}

a:visited {
  color: var(--almost-light-green);
}

/* Aeshetics */
.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;

}

.logo a {
  background-color: transparent;
  text-decoration: none;
  color: var(--anti-flash-white);
}

/* Navigation Items */
.nav-items {
  list-style: none;
  /* Remove bullet points */
  display: flex;
  gap: 16px;
  /* Space between nav items */
}

.nav-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-items li a {
  color: var(--anti-flash-white);
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: none;
  border-radius: 2px;
  background-color: #6A9C89;
  transition: background-color 0.3s ease-in;
  align-items: center;
}

.nav-items li a:hover {
  background-color: var(--almost-dark-green);
}


.intro h1 {
  margin-bottom: 0.5rem;
}

.item-list ul {
  list-style: none;
  padding: 0;
}

.toggle {
  background-color: transparent;
  color: var(--anti-flash-white);
  border: none;
  font-size: 1rem;
  cursor: pointer;

}

button.toggle i {
  margin: 0;
}

.toggle:hover {
  color: var(--medium-green);
}


/* Add Item Page Styles */

.add-item-form {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #E9EFEC;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

.add-item-form h2 {
  text-align: center;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E9EFEC;
  margin-bottom: 20px;
}

.input-slider {
  width: 100%;
  margin-bottom: 20px;
}

/* Common Button Styles */
button,
.submit-button {
  background-color: var(--medium-green);
  color: var(--anti-flash-white);
  padding: 0.5rem 2rem; /* Consistent padding */
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  max-width: 200px; /* Max width for buttons, to prevent too wide */
  margin: 0 auto; /* Center button */
}

button:hover,
.submit-button:hover {
  background-color: var(--almost-dark-green);
}

button i {
  margin-right: 8px; /* Space between icon and text */
}

.submit-button {
  background-color: #6A9C89;
  color: var(--anti-flash-white);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/*old add item button, keep if you want but currently not in use*/
button[type="submit"] {
  background-color: #6A9C89;
  color: var(--anti-flash-white);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #6A9C89;
}

/* Authentication Page Styles */
.main-authentication {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 100vh;
  margin: auto;
}

/* Authentication Box */
.auth-box {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 60vh;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.);
  /* Soft shadow for depth */
  margin: auto;

}

.auth-label {
  text-align: center;
  font-size: 2em;
  color: var(--anti-flash-white);
  margin-bottom: 20px;
  /* Add space below the label */
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* Spacing between input boxes */
}

/* Input Styles for Form */
.input-box input {
  width: 100%;
  max-width: 300px;
  /* Responsive width */
  padding: 15px;
  background: transparent;
  outline: none;
  border: 2px solid var(--medium-green);
  border-radius: 40px;
  color: var(--anti-flash-white);
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.input-box input:focus {
  border-color: var(--light-green);
}

.input-box input::placeholder {
  color: var(--light-green);
}

.auth-action {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.search-wrapper {
  display: flex;
  padding: 5vh;
  align-items:baseline;
  justify-content: center;
  min-width:  100vw;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #C4DAD2;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  background: #6A9C89;
}

.serach-input {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #16432C;
  margin-left: 14px;
  background: transparent;
  outline: none;
  border: none;
  width: 300px;
}

.serach-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.suggestion-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

.search-wrapper {
  margin-bottom: 20px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  background-color: #6A9C89;
  width: 20vw;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.suggestions a {
  margin: 10px;
  text-decoration: none;
  color: white;
}
/* Adds spacing between images fetched in external guides */
div[id^="step-"] img {
  margin: 10px 20px 10px 0; /* Top, Right, Bottom, Left */
}